@import "./../../abstracts/mixin";

.main {
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  padding: 40px 0;

  @include media((padding: (laptop: 40px,
        tablet: 20px),
      flex-direction: (tablet: column,
      ),
    ));
}

.menu__column-right {
  width: 100%;

  @include media((margin-top: (laptop: 20px)));
}

.article__title {
  font-size: 36px;

  @include media((font-size: (tablet: 30px, mobile: 26px)));
}

.book__list-item {
  display: flex;
}

.book__image {
  max-width: 295px;
  max-height: 426px;
  width: 100%;
  height: auto;
  max-width: 295px;
  max-height: 426px;

  @include media((max-width: (mobile: unset),
      max-height: (mobile: unset),
      padding: (tablet: 15px),
      align-self: (tablet: center)));
}

.book__text {
  margin-left: 20px;
  max-width: 610px;
  @include media((margin-left: (tablet: 0)));
}

.book__title {
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #f2386e;
  font-size: 36px;
  line-height: 44px;

  @include media((display: (tablet: none),
      font-size: (tablet: 30px, mobile: 26px),
      line-height: (tablet: 24px)));
}

.book__title-mobile {
  margin-top: 15px;
  display: none;

  .book__title {
    display: flex;
  }

  .book__author {
    margin-top: 8px;
    display: flex;
  }

  @include media((display: (tablet: unset)));
}

.book__author {
  display: inline-block;
  margin-top: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #492996;

  @include media((display: (tablet: none)));
}

.book__description-wrap {
  display: inline-block;
  margin-top: 16px;

  @include media((margin-top: (tablet: 0)));
}

.book__description-about {
  display: inline-block;
  margin-top: 16px;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.035em;
  color: #292929;
}

.book__description {
  display: inline-block;
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.035em;
  color: #292929;
  opacity: 0.7;
}

.book__link {
  display: inline-block;
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.035em;
  text-decoration-line: underline;
  color: #f2386e;
  opacity: 0.7;
  word-break: break-all;
}

.book__list-item {
  padding: 25px 0;
  @include media((flex-direction: (tablet: column,
      )));
}

.article__books {
  margin-top: 20px;

  .book__list-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}