@import "./../../styles/abstracts/mixin";

.main {
  @include media((flex-direction: (sm_laptop: column)));
}

input[type=checkbox] {
  display: none;
}

.menu__column-left {
  top: 0;
  right: 0;
  @include media((width: (dekstop: fit-content, sm_laptop: 100%, tablet: unset),
      align-self: (sm_laptop: center),
      margin-right: (desktop: 10px, sm_laptop: 0),
      position: (tablet: absolute),
    ));
}

.menu__column-right {
  @include media((margin-left: (desktop: 10px, sm_laptop: 0)));
}

.menu__title {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #F2386E;
}

.menu__checkbox {
  display: none;
}

.menu__checkbox:checked~.modules__menu {
  margin-left: 0;
  display: block;
  transition: 0.4s ease all;

  @include media((left: (desktop: 0, tablet: unset),
      width: (desktop: 296px, sm_laptop: 100%, tablet: 100vw),
      right: (tablet: 0),
      display: (sm_laptop: block)));
}

.modules__menu {
  background: #EDEAF5;
  transition: 0.4s ease all;
  overflow: hidden;
  box-sizing: border-box;

  @include media((display: (desktop: block, sm_laptop: none, tablet: block),
      width: (desktop: 0),
      height: (tablet: 100vh),
      padding: (desktop: 20px 8px 12px, tablet: 40px 8px 12px),
      margin: (desktop: 0 0 0 -200%, tablet: 0),
      position: (desktop: relative, tablet: fixed),
      top: (desktop: -20px, tablet: 0),
      left: (desktop: -200%, tablet: unset),
      right: (tablet: -100%),
      z-index: (tablet: 100),
      border-radius: (desktop: 0 10px 10px 0, tablet: 0),
      overflow: (tablet: scroll)));
}

.menu__module-open {
  .module__lock {
    display: none;
  }
}

.menu__module-close {
  background: #DFDBEA;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);

  .module__arrow {
    display: none;
  }
}

.menu__open {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;

  @include media((position: (tablet: fixed),
      right: (tablet: 20px),
      top: (tablet: 39px),
      z-index: (tablet: 90)));
}

.menu__button-open {
  display: block;
  width: 20px;
  height: 2px;
  background: #212121;
  border-radius: 2px;
  position: relative;
}

.menu__button-open::after,
.menu__button-open::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #212121;
  border-radius: 2px;
  position: absolute;
}

.menu__button-open::after {
  top: 6px;
}

.menu__button-open::before {
  bottom: 6px;
}

.menu__close {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  z-index: 10;
  cursor: pointer;
}

.menu__button-close {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  position: relative;
  background: transparent;
}

.menu__button-close::after,
.menu__button-close::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #212121;
  border-radius: 2px;
  position: absolute;
}

.menu__button-close::after {
  transform: rotate(45deg);
}

.menu__button-close::before {
  transform: rotate(-45deg);
}

.menu__title {
  margin-left: 12px;
  position: relative;
  top: -5px;
  z-index: 5;
}

.menu__module {
  border-radius: 10px;
  margin-top: 10px;
  padding: 12px 12px 20px;
}

.menu__module-open {
  background: #FFFFFF;

  .module__title,
  .module__number {
    color: #F2386E;
  }
}

.module__title {
  margin-top: 2px;
}

.module__contents-open:checked~.module__contents {
  display: unset;
}

.module__contents-open:checked+.module__label {
  border-bottom: 2px solid #E8EAEF;
  padding-bottom: 18px;

  .module__arrow {
    transform: rotate(180deg);
  }
}

.module__contents {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.module__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content__list {
  margin-top: 12px;
  padding-left: 15px;
  list-style-type: decimal;
}

.list__item {
  margin-bottom: 3px;

  a {
    color: #212121;
  }
}

.content__list {
  .list__item-test {
    position: relative;
  }

  .list__item-test:last-child::before {
    content: "";
    display: block;
    position: absolute;
    left: -16px;
    top: 5px;
    background: white;
    width: 12px;
    height: 10px;
  }
}

.list__item-active {
  font-weight: bold;
}