@import "./../../styles/abstracts/mixin";

.article__list {
  margin: 16px 0 0;
  // list-style-image: url('./../../assets/images/list/circle.png');
}

.article__list-item {
  padding: 8px 0px 8px 52px;
  margin: 10px 0px;
  position: relative;
  background-position: left;

  @include media((padding: (mobile: 8px 0 8px 40px)));
}

.article__list-item::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url('./../../assets/images/list/star.png') no-repeat;
  color: transparent;
}

.item__marker {
  flex: 0 0 auto;
  display: none;
}