@import "./../../styles/abstracts/mixin";

.arrows__container {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 2px solid #E8EAEF;
  margin-top: 8px;

  .page__arrow {
    width: 40px;
    height: 40px;
    border-radius: 41px;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 48%;
      transform: translate(-50%, -50%);
    }
  }

  .border-next {
    transform: rotate(180deg);
    margin-left: 28px;

    @include media((margin-left: (tablet: 0)));
  }

  .button__wrap {
    @include media((margin: (tablet: 0 15px)));
  }

  @include media((justify-content: (tablet: center),
      margin-top: (tablet: 40px)));
}