@import "./abstracts/mixin";
@import "./abstracts/typography";

* {
  margin: 0;
  padding: 0;
}

body {
  background: #F5F3FA;
  position: relative;
  padding-bottom: 72px;
  min-height: 100vh;
  box-sizing: border-box;

  @include media((padding-bottom: (tablet: 145px)));
}

ul {
  list-style-type: none;
}

label:focus,
button:focus {
  outline: none;
}

h1 {
  font-size: 20px;
  line-height: 23px;
  font-weight: unset;
  font-family: "Roboto";

  .text-purple {
    font-family: "Roboto";
    font-weight: 700;
  }

  .text-pink {
    font-family: "Roboto";
    font-weight: bold;
  }
}

.text-purple {
  color: #492996;
}

.text-pink {
  color: #F2386E;
}

.button-def {
  font-size: 14px;
  font-weight: 600;
  border-radius: 61px;
  height: 42px;
  padding: 12px 18px;
  background: none;
  width: 100%;
}

.button__wrap {
  background: linear-gradient(45deg, rgba(243, 56, 110, 1) 11%, rgba(75, 41, 149, 1) 100%);
  border-radius: 42px;
  padding: 2px;
  width: fit-content;
  display: flex;

  button,
  a {
    border: none;
    background: #F5F3FA;
    transition: 0.2s ease all;
    height: 38px;
    border-radius: 42px;

    span {
      background: linear-gradient(45deg, rgba(243, 56, 110, 1) 11%, rgba(75, 41, 149, 1) 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      transition: 0.2s ease all;
    }
  }

  a {
    display: block;
    color: #F5F3FA;
  }
}

.button__wrap:hover {

  button,
  a {
    background: transparent;
    transition: 0.2s ease all;

    span {
      color: white;
      -webkit-text-fill-color: white;
      transition: 0.2s ease all;
    }
  }
}

button,
button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.module__number {
  font-size: 14px;
  font-weight: 500;
}

.module__title {
  font-weight: bold;
  font-size: 16px;
}

.main {
  @include media((padding: (laptop: 0 40px)));
}

.button__wrap:hover {
  svg {
    path {
      // fill: #6C2C8D !important;
      stroke: white !important;
    }
  }
}

.column__article {
  position: relative;
}

.article__title-wrap {
  display: flex;
  align-items: flex-start;
}

.article__title {
  position: relative;
  font-weight: bold;
  line-height: 110.19%;
  letter-spacing: 0.035em;
  color: #492996;
  z-index: 10;
  left: -60px;
  top: 30px;
  font-size: 36px;

  @include media((left: (tablet: -34px, mobile: 20px),
      top: (tablet: 18px),
      font-size: (tablet: 24px)));
}

.title__figure {
  width: 101px;
  z-index: 5;
  @include media((width: (tablet: 60px),
      position: (mobile: absolute)));
}