@import "./../../styles/abstracts/mixin";

.routes {
  background: #EDEAF5;
  font-weight: 500;
  font-size: 12px;
  @include media((padding: (laptop: 0 40px, tablet: 0 20px),
      margin-top: (tablet: 100px)));

  ul {
    max-width: 1240px;
    margin: 0 auto;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  a {
    color: #292929;
  }

  .route-current {
    color: #492996;
  }

  .route:not(:last-child)::after {
    content: "/";
    margin: 0 5px;
  }
}