.header {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  a {
    color: black;
  }
}

.header__logos {
  /* width: 246px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 2px;
  left: -53px;

  .teenguru {
    margin: 0 31px;
  }
}

.header__user {
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 14px;
  font-weight: 500;
  color: #292929;
  margin-left: 12px;
}