@import "./../../styles/abstracts/mixin";

.header {
  padding: 20px 100px;
  margin: 0 auto;
  // max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 80;

  @include media((padding: (laptop: 20px 40px, tablet: 15px 20px),
      position: (tablet: sticky),
      background-color: (tablet: #F5F3FA),
      width: (tablet: 100%),
      box-shadow: (tablet: 0px 0px 8px -5px),
      box-sizing: (tablet: border-box)));
}

h1 {
  font-size: 20px;
  line-height: 23px;
  font-weight: unset;
  font-family: "Roboto";

  .text-purple {
    font-family: "Roboto";
    font-weight: bold;
  }

  .text-pink {
    font-family: "Roboto";
    font-weight: bold;
  }
}

.header__brand {

  a {
    color: black;
  }

  @include media((margin: (tablet: 0 0 0),
      font-size: (tablet: 21px, mobile: 17px),
      width: (tablet: 82px),
      max-width: (sm_laptop: 258px)));
}

.header__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 2px);

  @include media((display: (tablet: none),
    ));

  .teenguru {
    margin: 0 31px;
  }
}

.header__user {
  display: flex;
  align-items: center;
  @include media((position: (tablet: unset),
      right: (tablet: 50px),
      top: (tablet: 30px),
      align-self: (tablet: center),
      margin: (tablet: 0 86px 0 0, mobile: 0 46px 0 0),
    ));
}

.user-name {
  font-size: 14px;
  font-weight: 500;
  color: #292929;
  margin-left: 12px;
}

.user__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat";

  @include media((margin-right: (tablet: 35px),
      flex-wrap: (tablet: wrap)));
}

.user__action {
  margin: 0 10px;
  color: black;

  @include media((margin: (tablet: 5px)));
}

.action__prim {
  margin-right: 0;

  button {
    padding: 0 20px;
  }

  .button__text {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
}