@import "./../../styles/abstracts/mixin";

.header {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 80;

  @include media((padding: (laptop: 20px 40px, tablet: 15px 20px),
      position: (tablet: fixed),
      background-color: (tablet: #F5F3FA),
      width: (tablet: 100%),
      box-shadow: (tablet: 0px 0px 8px -5px)));
}

h1 {
  font-size: 20px;
  line-height: 23px;
  font-weight: unset;
  font-family: "Roboto";

  .text-purple {
    font-family: "Roboto";
    font-weight: bold;
  }

  .text-pink {
    font-family: "Roboto";
    font-weight: bold;
  }
}

.header__brand {

  a {
    color: black;
  }

  @include media((margin: (tablet: 0 0 0),
      font-size: (tablet: 21px, mobile: 17px),
      width: (tablet: 82px)));
}

.header__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 2px;
  left: -53px;

  @include media((left: (sm_laptop: -40px),
      display: (tablet: none),
    ));

  .teenguru {
    margin: 0 31px;
  }
}

.header__user {
  display: flex;
  align-items: center;
  @include media((position: (tablet: unset),
      right: (tablet: 50px),
      top: (tablet: 30px),
      align-self: (tablet: center),
      margin: (tablet: 0 86px 0 0),
    ));
}

.user-name {
  font-size: 14px;
  font-weight: 500;
  color: #292929;
  margin-left: 12px;
}