@import "./../../styles/abstracts/mixin";

$d_flex: flex !important;

.skill__gallery-unslick {
  display: none !important;

  @include media((display: (none),
      padding: (tablet: 20px 0)));
}

.skill__gallery::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.skill__gallery {
  margin: 20px 0 0 0;
  justify-content: space-between;

  @include media((display: (tablet: flex),
      overflow-x: (tablet: scroll),
      margin: (tablet: 12px 0 0 0),
      padding: (tablet: 15px 0 15px 20px)));

  .gallery__arrow {
    width: 40px;
    height: 40px;
    border-radius: 41px;
    position: relative;
    background: #F5F3FA;

    svg {
      position: absolute;
      top: 50%;
      left: 48%;
      transform: translate(-50%, -50%);
    }
  }
}

.skill__gallery:last-child::after {
  content: "";
  display: none;
  width: 10px;
  padding: 0;
  min-height: 355px;

  @include media((display: (tablet: block),
      padding: (tablet: 0 10px)));
}

.gallery__nav-next {
  transform: rotate(180deg);
  margin-left: 28px;
}

.gallery__nav {
  position: absolute;
  bottom: -84px;
  right: 0;

  @include media((right: (tablet: 40px)));
}

.gallery__nav-prev {
  right: 64px;

  @include media((right: (tablet: 104px)));
}

.slick-list {
  margin: 0 -15px;
}

.slick-slide>div {
  padding: 0 15px;
  // display: flex;
  // justify-content: center;
  height: 100%;
}

.slick-track {
  display: flex;

  .slick-slide {
    display: flex;
    height: auto;
    align-items: center; //optional
    justify-content: center; //optional
  }
}

.module__wrapper {
  // padding: 0 15px;
  height: 100%;

  @include media((margin: (tablet: 0 10px)));
}

.module__wrapper:first-child {
  margin-left: 0;
}

.module__wrapper:last-child {
  margin-right: 0;
}

.module__card {
  height: 100%;
  // min-height: 312px;
  // min-height: 355px;
  // width: 194px;
  // max-width: 194px;
  box-sizing: border-box;
  padding: 15px;
  display: grid !important;
  grid-template: 50px auto auto / 1fr;
  flex: 0 0 auto;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  @include media ((margin: (tablet: 0 10px),
      min-height: (tablet: 355px),
      width: (tablet: 194px),
      max-width: (tablet: 194px),
      box-sizing: (tablet: unset)));

  .button__wrap {
    button {
      background: white;
      width: 100%;
    }
  }

  .button__wrap:hover {
    button {
      background: transparent;
    }
  }
}

.module__card:first-child {
  @include media((margin-left: (tablet: 0)));
}

.module__card:last-child {
  @include media((margin-right: (tablet: 0)));
}