@import "./../../styles/abstracts/mixin";

.footer {
  background: #00092B;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;

  @include media((padding: (laptop: 0 40px)));
}

.footer__container {
  margin: 0 auto;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @include media((flex-direction: (tablet: column),
      text-align: (tablet: center),
      padding: (tablet: 28px 0)));
}

.social__list {
  display: flex;
  align-items: center;
}

.footer__brand {
  color: white;

  a {
    color: white;
  }

  @include media((display: (tablet: none)));
}

.footer__links {
  a {
    color: white;
    margin: 0 25px;
    font-size: 14px;
    line-height: 17px;
  }

  @include media((margin: (tablet: 0 0 30px)));
}

.social__item {
  margin: 0 15px;

  a:hover {
    svg {

      path,
      rect {
        fill: url(#paint0_linear) !important;
      }

      circle {
        fill: #00092B !important;
      }
    }
  }
}