.table {
  width: 100%;
  margin-top: 30px;
  box-sizing: border-box;
  background: #EDEAF5;
  border-radius: 10px;
  padding: 5px;

  .table__row:first-child {
    td {
      font-weight: bold;
    }
  }
}

.table__row {
  width: 100%;
  display: flex;
}


.table__item {
  width: 100%;
  padding: 14px 8px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: black;
  background: #FFFFFF;
  border-radius: 10px;
  word-break: break-word;
}